.logo {
    display: grid;
    gap: 4px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-weight:950;
}
.logo img {
    height: 75px;
}

header {
    background-color:#8D6DD7;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    }
.header__menu {
    display: flex;
    gap: 20px;
}
.footer__menu {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 20px;
   
}
.footer__cell {
    display: flex;
    justify-content: space-between;
    background-color:#8D6DD7;
    color: #000;

}
.footer__info{
    margin: 20px;
}
.slogan{
    text-align: center;
    font-size: 25px;
    font-weight:750;
    
}
@media (max-width: 720px){
    header{
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
    .header__menu{
        display: flex;
        flex-direction: column;
    }
    .slogan{
        margin: auto;
        font-size: 20px;
        font-weight:550
    }
  
  }
  @media (max-width: 1024px){
    .slogan{
        margin: auto;}

  }