.logo {
    display: grid;
    gap: 4px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.logo img {
    height: 50px;
}

header {
    background-color:#8D6DD7;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
.header__menu {
    display: flex;
    gap: 20px;
}
.footer__menu {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 20px;
   
}
.footer__cell {
    display: flex;
    justify-content: space-between;
    background-color:#8D6DD7;
    color: #000;

}
.footer__info{
    margin: 20px;
}