body{
    background-color: #FFEB73;
    color: #fff;
    margin: 0;

}
h1, h2, h3{
    margin: 0;
}
 a {
        color: inherit;
        text-decoration: none;
      }
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}    
main{
  padding: 30px 50px;
  
 
}  

.container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
}
.container .search-block{ 
  grid-column-end: span 4;

} 
@media (max-width: 720px){
  .header{
    display: flex;
    flex-direction: column;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px 50px;
  }
.container .search-block{ 
grid-column-end: span 2;

}
} 
@media (max-width: 1024px){
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px 50px;
}
.container .search-block{ 
grid-column-end: span 3;

} 
}